<!-- views/partials/_header.ejs -->
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Gentium+Basic" rel="stylesheet">
</head>

<body>
<header>
  <% if(user) { %>
    Hello, <%= user.email %>
    <form method="POST" action="/logout" class="log-form">
      <button>logout</button>
    </form>
<% } else { %>
<a href="/login">Login</a> / <a href="/register">Sing Up</a>
<% } %>
</header>
