<!DOCTYPE html>
<html lang="en">

<% include partials/_header %>

<div class="wrapper">
  <h1>Welcome to Link Shortener</h1>
  <div class="links">
    <a href="/login">Login</a> or <a href="/register">Sign Up</a>
  </div>
</div>

</body>
</html>