<!DOCTYPE html>
<html lang="en">

<% include partials/_header %>

<h2>Login</h2>
<form method="POST" accept="/login" class="reg-form">
  <input type="email" name="email">
  <input type="password" name="password">
  <button>login</button>
</form>

</body>
</html>