<!DOCTYPE html>
<html lang="en">

<% include partials/_header %>

<div class="wrapper">
  <h2>Login</h2>

  <form method="POST" accept="/login" class="reg-form">
    <input type="email" name="email">
    <input type="password" name="password">
    <button>login</button>
  </form>
</div>


</body>
</html>