<!DOCTYPE html>
<html lang="en">

<% include partials/_header %>

<div class="wrapper">
  <h2>Create an Account</h2>

  <form method="POST" accept="/register" class="reg-form">
    <input type="email" name="email">
    <input type="password" name="password">
    <button>create account</button>
  </form>
</div>

</body>
</html>