<!DOCTYPE html>
<html lang="en">

<% include partials/_header %>

<div class="container">
  <h1>Create your short link</h1>
  <form action="/urls/create" method="POST" class="short-form">
    <label for="longURL" class="short-form-label">Enter a URL:</label>
    <input id="longURL" type="text" name="longURL" placeholder="http://" class="short-form-input input">
    <input type="submit" value="shorten" class="short-form-btn btn">
  </form>

</div>


</body>
</html>