<!DOCTYPE html>
<html lang="en">

<% include partials/_header %>

<div class="wrapper">
  <h2>Congratulations!</h2>

  <div class="info">
    Short URL: http://localhost:8080/u/<%= shortURL %>
  </div>

  <form action="/urls/<%= shortURL %>" method="POST" class="update-form">
    <input type="text" id="longURL" name="longURL" value="<%= longURL %>">
    <button>update</button>
  </form>

  <div class="info">
    <a href="/urls">All links</a>
  </div>

  <div class="info">
    <a href="/urls/new">Create a New Short Link</a>
  </div>

</div>
</body>
</html>