<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>
  <h4>URLs and their shortened forms</h4>

  <ul>
      <li><a href='<%= `${longURL}` %>'>Long URL</li>
      <li><a href='<%= `/urls/${shortURL}`%>'>Short URL</a></li>
  </ul>

</body>
</html>