/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main styles */
body {
  background-color: #fff;
  background-image: url(../images/fon.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: 'Gentium Basic', serif;
  font-size: 16px;
  color: #333;
}

header {
  background-color: #555;
  height: 26px;
  padding: 20px 60px;
  opacity: 0.8;
  color: #fff;
  text-align: right;
}

header a {
  color: #fff;
  font-size: 18px;
}

header a:hover {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 100px 0 50px;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin: 30px 0;
}

a {
  color: #333;
}

form input {
  border: solid 1px #999;
  vertical-align: middle;
  font-family: 'Gentium Basic', serif;
  font-size: 20px;
  padding: 5px 10px;
}

form button {
  vertical-align: middle;
  background-color: #fff;
  border: solid 1px #999;
  font-family: 'Gentium Basic', serif;
}

.wrapper {
  min-height: 100%;
}

.short-form {
  text-align: center;
}

.short-form-label {
  font-size: 24px;
  vertical-align: middle;
  margin-right: 15px;
}

.short-form-input {
  width: 340px;
  height: 24px;
  padding: 5px;
  margin-right: 7px;
}

.short-form-btn {
  width: 100px;
  height: 36px;
  font-size: 20px;
  text-transform: uppercase;
}

.reg-form {
  text-align: center;
}

.reg-form input {
  display: block;
  width: 300px;
  height: 30px;
  margin: 17px auto;
}

.reg-form button {
  background-color: #b1aeae;
  width: 322px;
  height: 40px;
  font-size: 23px;
  text-transform: uppercase;
  color: #333;
}

.log-form {
  display: inline;
  margin-left: 20px;
}

.log-form button {
  font-size: 16px;
}
















