/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, img, small, strong,b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, footer, header, menu, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* Main styles */
body {
  background-color: #fff;
  /*background-image: url(../images/fon.png);*/
  /*background-position: 0 0;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  height: 100%;
  font-family: 'Gentium Basic', serif;
  font-size: 16px;
  color: #333;
}

header {
  background-color: #555;
  height: 26px;
  padding: 20px 60px;
  opacity: 0.8;
  color: #fff;
  text-align: right;
}

header a {
  color: #fff;
  font-size: 18px;
}

header a:hover {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 50px;
  margin: 100px 0 50px;
}

h2 {
  font-size: 40px;
  margin: 30px 0;
}

a {
  color: #333;
}

h3 {
  font-size: 30px;
  margin: 50px 0 0;
}

h3 a:hover {
  text-decoration: none;
}

form input {
  display: inline-block;
  border: solid 1px #999;
  vertical-align: middle;
  font-family: 'Gentium Basic', serif;
  font-size: 20px;
  padding: 5px 10px;
}

form button {
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  border: solid 1px #999;
  font-family: 'Gentium Basic', serif;
}

.wrapper {
  min-height: 100%;
  padding: 50px;
}

.short-form {
  text-align: center;
}

.short-form-input {
  width: 460px;
  height: 35px;
  padding: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.short-form-btn {
  width: 100px;
  height: 47px;
  margin-left: -1px;
  font-size: 20px;
  text-transform: uppercase;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.reg-form {
  text-align: center;
}

.reg-form input {
  display: block;
  width: 500px;
  height: 30px;
  margin: 17px auto;
  border-radius: 3px;
}

.reg-form button {
  background-color: #b1aeae;
  width: 522px;
  height: 40px;
  font-size: 23px;
  text-transform: uppercase;
  color: #333;
  border-radius: 3px;
}

.log-form {
  display: inline;
  margin-left: 20px;
}

.log-form button {
  font-size: 16px;
}

.all-links {
  margin-bottom: 20px;
  text-align: center;
}

.all-links td {
  padding: 5px;
  text-align: left;
}

.info {
  margin: 0 0 20px;
  font-size: 20px;
}

.info a {
  /*text-decoration: none;*/
}

.update-form {
  margin-bottom: 50px;
}

.update-form input{
  width: 300px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.update-form button {
  width: 58px;
  height: 35px;
  margin-left: -6px;
  background-color: #777;
  font-size: 16px;
  color: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.links {
  text-align: center;
  font-size: 25px;
}






